
.user-header {
  font-family: fangsong;
  text-align: center;
  padding: 10px 0 10px 0;
}

.user-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-content: space-between;
  padding-top: 65px;
}

.user-wrapper {
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.user-delete-btn {
  margin-top: 10%;
  margin-left: 50%;
}

.user {
  display:flex;
}

.first-name {
 margin-left: 25%;
}

.last-name {
  margin-left: 2%;
}

.email {
  margin:auto;
}
.shape-bottom {
  transform: rotateX(180deg) rotateY(180deg);
  position: absolute;
  width: 100%;
  bottom: -1px;
}

.shape {
  fill: rgb(228, 233, 255);
}

.user-wrapper-container {
  display: flex;
  flex-direction: row;
  flex-wrap: row wrap;
  position: relative;
}

.user-wrapper-bio {
  margin-top: 5%;
  padding-top: 10%;
  order: 2;
}

.user-wrapper-picture{
  margin-top: 5%;
  padding: 7% 2%  2% 15%;
  align-self: left;
  order:1;
}

.user-wrapper-slogan{
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  font-size: 54px;
  padding: 5% 10% 0 5%;
  color:rgb(63, 93, 150);
}

.slogan-emphasis{
  color:rgb(88, 139, 187);
}

.user-wrapper-pitch{
  order: 3;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  margin-top: 5%;
  padding: 0 20% 2% 5%;
  font-size: 20px;
  color:rgb(63, 93, 150);
}

.card {
  padding: 40px;
}

.cloud {
  width:200px;
  height:150px;
  border-radius: 0 0 50px 50px;
  background:
  /*                radius                            position  / 2xradius*/
  radial-gradient(35px 30px,rgb(196, 196, 211) 98%,transparent 100%) 20% 30%  /70px   60px,
  radial-gradient(50px 45px,rgb(196, 196, 211) 98%,transparent 100%) 50% 50%  /100px   90px,
  radial-gradient(50px     ,rgb(196, 196, 211) 98%,transparent 100%) 100% 100%/100px   100px,
  radial-gradient(40px     ,rgb(196, 196, 211) 98%,transparent 100%) 0 100%   /80px    80px,
  /* base of the cloud */
  linear-gradient(rgb(196, 196, 211),  rgb(196, 196, 211)) bottom/100% 40px;;
  background-repeat:no-repeat;
}