.card {
  border: solid;
  border-radius: 30px;
  border-color: #A985FF;
  margin: 25px;
  padding: 20px;
}

.add-user-card {
  border: solid;
  border-radius: 5px;
  border-color: #86C2FF;
  margin: 25px;
  padding: 20px;
}

.user-input{
  margin-left: 10px;
}

.text {
  font-family: fangsong;
  text-align: left;
}

.header {
  font-family: fangsong;
  text-align: left;
  padding-left: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  order: 4;
  align-self: center;
  flex-basis: 25%;
}

input.rounded {
  border: 1px solid #ccc;
  margin: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
  
}

input.rounded:focus {
  border-color: #333599;
  
}

button.rounded {
  background-color: #86C2FF;
  border-radius: 5px;
  height: 35px;
  width: 150px;
  box-shadow: 2px 2px 3px #666;
}

button {
  font-family: fangsong;
}
