.home {
  display: flex;
  flex-direction: row;
  flex-wrap: row wrap;
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.text {
  padding-top: 15%;
  flex-basis: 500px;
  order: 2;
}

.slogan {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  font-size: 54px;
  color:rgb(63, 93, 150);
}

.profile{
  flex-basis: 600px;
  padding: 12% 2% 10% 15%;
  align-self: left;
  order:1
}

.emphasis {
  color:rgb(88, 139, 187);
}

.pitch {
  order: 3;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  margin-top: 8%;
  font-size: 20px;
  color:rgb(63, 93, 150);
}
